<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lindy Hop videos</title>
    <script src="js.mjs" type="module"></script>
    <link rel="stylesheet" href="css.css">
</head>
<body>
<h1 class="page-title">Lindy Hop videos</h1>
{{#each videos}}
    <div class="video-container"
        {{#if accesses}}
         data-accesses="{{accesses}}"
        {{/if}}
    >
        <div class="video-thumbnail">
            <img src="thumbnails/{{thumbnail}}" alt="video thumbnail">
        </div>

        {{#if video}}
            <video class="video-video" style="display: none" controls poster="thumbnails/{{thumbnail}}"
                   src='videos/{{video}}'>
            </video>
        {{/if}}

        <div class="video-tags">
            {{#each tags}}
                <span class="video-tag">{{this}}</span>
            {{/each}}
        </div>

    </div>

    {{#unless @last}}
        <hr>
    {{/unless}}
{{/each}}
</body>
</html>