<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lindy Hop videos</title>
    <link rel="stylesheet" href="css.css">
    <script src="js.mjs" type="module"></script>
</head>
<body>
<h1 class="page-title">Lindy Hop videos</h1>
{{#each videos}}
    <div class="video-container">
        <div class="video-thumbnail"
            {{#if video}}
             data-video="{{video}}"
            {{else}}
             data-access-rule="{{access_rule}}"
             data-access-iv="{{access_iv}}"
             data-access-ciphertext="{{access_ciphertext}}"
             data-access-salt="{{../access_salt}}"
             data-access-iterations="{{../access_iterations}}"
            {{/if}}
             onclick="playVideo(this)">
            <img src="thumbnails/{{thumbnail}}" alt="video thumbnail">
        </div>

        <div class="video-video">
            <video style="display: none" controls poster="thumbnails/{{thumbnail}}" onplay="stopAllOtherVideos(this)">
            </video>
        </div>

        <div class="video-tags">
            {{#each tags}}
                <span class="video-tag">{{this}}</span>
            {{/each}}
        </div>

    </div>

    {{#unless @last}}
        <hr>
    {{/unless}}
{{/each}}
</body>
</html>