<meta charset="UTF-8">
<title>{{title}}</title>
<link rel="stylesheet" href="{{base_url}}/static/css.css?{{build_time}}">
<script src="{{base_url}}/static/js.mjs?{{build_time}}" type="module"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="{{base_url}}/static/favicon.png"/>