<div class="video-container">
    <div class="video-thumbnail"
         data-base-url="{{base_url}}/videos"
        {{#if video}}
         data-video="{{video}}"
        {{else}}
         data-access-rule="{{access_rule}}"
         data-access-iv="{{access_iv}}"
         data-access-ciphertext="{{access_ciphertext}}"
         data-access-salt="{{access_salt}}"
         data-access-iterations="{{access_iterations}}"
        {{/if}}
         onclick="playVideo(this)">
        <img src="{{base_url}}/{{thumbnail}}" alt="video thumbnail">
    </div>

    <div class="video-video-row">
        <video class="video-video" style="display: none" controls poster="{{base_url}}/{{thumbnail}}"
               onplay="stopAllOtherVideos(this)">
        </video>
    </div>

    {{#if access_rule}}
        <div class="video-protected">🔒 Vidéo protegée</div>
    {{/if}}

    <div class="video-share-link">
        <span data-share-link="{{base_url}}/{{share_link}}" onclick="copyShareLink(this)">
            🔗 Copier le lien
            <span class="copied-feedback" style="display: none">✅</span>
        </span>
    </div>

    <div class="video-tags">
        {{#each tags}}
            <a class="video-tag {{#if (eq name ../selected_tag)}}video-tag-selected{{/if}}"
               href="{{base_url}}/tag/{{clean_name}}.html">{{name}}</a>
        {{/each}}
    </div>
</div>